#effectWrap {
  position: absolute;
  text-align: center;
  pointer-events: none;
  z-index: 999;
}

#effectWrap canvas {
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}
